body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

h1 {
    font-size: 32px;
    color: #3a3a3a;
    margin-top: 50px;
}

#countdown {
    font-size: 24px;
    color: #5a5a5a;
    margin-top: 20px;
}